

<configuration>
<appSettings>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=Finstar;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Integrated Security=True;" />
    <add key="SqlFilesDirectory" value="./Migrations" />
    <add key="DatabaseType" value="sqlserver" />
    <add key="Environment" value="Development" />
</appSettings>
</configuration>

<!-- <roundhouse>
    <connectionStrings>
        <add name="Finstar" connectionString="Data Source=localhost;Initial Catalog=Finstar;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Integrated Security=True" />
        <add name="Finstar" connectionString="Server=(localdb)\mssqllocaldb;Database=Finstar;Trusted_Connection=True;" />
    </connectionStrings>
    <migrations>
        <add name="Migrations" path="D:\Study_yp\Подготовка к собесам 2\Finstar_Test\backend\Finstar.Infrastructure\Migrations" />
    </migrations>
</roundhouse>
-->